# Get projectId from https://dashboard.walletconnect.com
NEXT_PUBLIC_PROJECT_ID=<YOUR_PROJECT_ID_HERE>

# Get key from https://dashboard.alchemy.com/chains
NEXT_PUBLIC_ALCHEMY_KEY=<YOUR_ALCHEMY_KEY_HERE>